<!--The content below is only a placeholder and can be replaced.-->
<app-jeopardy></app-jeopardy>
<app-header name="your mom" title="the Jungle"></app-header>
<app-header [name]="friends[0]"></app-header>
<h3>You have {{friends.length}} friends</h3>
<ul>
  <li *ngFor="let friend of friends">{{friend | titlecase}}</li>
</ul>
<input type="text" placeholder="Your friend's name" (keydown.enter)="addFriend()" [(ngModel)]="newFriend">
<button *ngIf="showButton" (click)="addFriend()" [disabled]="!newFriend">Add a friend</button>
<button (click)="removeFriends()" [disabled]="friends.length === 0">Destroy all friends!</button>
